mat-card{
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  margin: 0;
  border:10px;
}

.j:hover{
  background-color: #6c757d;
  cursor: pointer;
}
mat-grid-list{
  height: 100%;
}
mat-card-content{
  height: 85%;
}
.mat-card-title{
  margin: 0;
  line-height: 100%;
}
h6{
  font-size: 1.5vw;
}

h5{
  text-align: center;
  padding-top: 3%;
  font-size: 1.4vw;
}
b{
  font-size: 2vw;
  white-space: pre-wrap;
}
.mat-icon{
  font-size: 1.5vw;
}
