<mat-card style="width: 280px; height: 100%">
  <mat-card-title>
    <b>Question N°{{number}}</b>
  </mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="6" rowHeight="9.9%">

      <mat-grid-tile *ngIf="question.image!==null && question.image.length>2"
        colspan="6"
        rowspan="4">
        <img [src]="question.image" style=" height: 100%;width: 100%;" [alt]="question.label"/>

        <!-- *ngFor="let answer of question?.answers"<span style="width: 100%;height: 100%;" [class.btn-primary]="answer.isCorrect" [class.btn-secondary]="!answer.isCorrect">{{answer.value}}</span>-->
      </mat-grid-tile>
      <mat-grid-tile *ngIf="question?.tmpUrl!==null && question?.tmpUrl?.length>2"
        colspan="6"
        rowspan="4">
        <img [src]="question.tmpUrl" style=" height: 100%;width: 100%;" [alt]="question.label"/>

        <!-- *ngFor="let answer of question?.answers"<span style="width: 100%;height: 100%;" [class.btn-primary]="answer.isCorrect" [class.btn-secondary]="!answer.isCorrect">{{answer.value}}</span>-->
      </mat-grid-tile>
      <mat-grid-tile *ngIf="question.image ===null"
                     colspan="6"
                     rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="{{question.image ===null?'5':'3'}}" style="">
        <h6 style="height: {{question.image ===null?'90':'50'}}%; font-size: {{question.image ===null?'x-large':'large'}}; overflow: hidden; text-overflow: ellipsis;">{{question.label}}</h6>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="1">
        <h5 >{{question?.answers?.length}} réponse{{question?.answers?.length>1?'s':' '}}</h5>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!question.image"
                     colspan="6"
                     rowspan="1">
        <!-- *ngFor="let answer of question?.answers"<span style="width: 100%;height: 100%;" [class.btn-primary]="answer.isCorrect" [class.btn-secondary]="!answer.isCorrect">{{answer.value}}</span>-->
      </mat-grid-tile>
      <mat-grid-tile
        colspan="4"
        rowspan="1" *ngIf="deletable">
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="2"
        *ngIf="editable"
        (click)="editEvent()" class="j">
        <mat-icon>edit</mat-icon>
      </mat-grid-tile>

      <mat-grid-tile
        colspan="1"
        rowspan="2"
        *ngIf="deletable"
        (click)="deleteEvent()" class="j">
        <mat-icon>delete</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
