<mat-card style="width: 300px; height: 100%">
  <mat-card-title>
    <b>Question N°{{number}}</b>
    <button *ngIf="editable" (click)="makeEditable()" mat-flat-button aria-label="Cancel" style="position:absolute; right:20px;">
    <mat-icon>edit</mat-icon>
  </button>
  </mat-card-title>
  <mat-card-content>
    <mat-grid-list cols="6" rowHeight="30px">

      <mat-grid-tile *ngIf="question.image"
        colspan="6"
        rowspan="2">
        <!-- *ngFor="let answer of question?.answers"<span style="width: 100%;height: 100%;" [class.btn-primary]="answer.isCorrect" [class.btn-secondary]="!answer.isCorrect">{{answer.value}}</span>-->
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="1"
      style="overflow-y: paged-y; overflow-x: paged-x">
        <h6>{{question.label}}</h6>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="6"
        rowspan="1">
        <h5 >{{question?.answers?.length}} réponse{{question?.answers?.length>1?'s':' '}}</h5>
      </mat-grid-tile>
      <mat-grid-tile *ngIf="!question.image"
                     colspan="6"
                     rowspan="2">
        <!-- *ngFor="let answer of question?.answers"<span style="width: 100%;height: 100%;" [class.btn-primary]="answer.isCorrect" [class.btn-secondary]="!answer.isCorrect">{{answer.value}}</span>-->
      </mat-grid-tile>
      <mat-grid-tile
        colspan="4"
        rowspan="1" *ngIf="deletable">
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="1"
        *ngIf="editable"
        (click)="editEvent()" class="j">
        <mat-icon>edit</mat-icon>
      </mat-grid-tile>
      <mat-grid-tile
        colspan="1"
        rowspan="1"
        *ngIf="deletable"
        (click)="deleteEvent()" class="j">
        <mat-icon>delete</mat-icon>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
