<html>
<head>

</head>

<body>
  <div style="background-color: white">
    <mat-grid-list cols="3" rowHeight="20px" style="width: 100%; margin-top: 50px; padding-top: 10px;" >
      <mat-grid-tile colspan="3" rowspan="5">
        <div id="text1">
          <h5 id="f"> Félicitations! Vous avez réussi le quiz bravo. </h5>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="2" rowspan="6">
         <button class="btn btn-primary" (click)="restart()"  id="btn1"> Recommencer le quiz</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4">
        <button  id="btn2"  [routerLink]="['/home-do-quiz']"> Changer de quiz</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="9">
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="9">
      </mat-grid-tile>
    </mat-grid-list>

  </div>

</body>

</html>
