<div style="background-color: white">
<div  *ngIf="quizList.length == 0;">
  <span class="h4" style="width: 100%; text-align: center">Votre liste de quiz est vide, veuillez  créer un profil</span>
</div>
  <mat-grid-list cols="1" *ngIf="quizList.length >0;">
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="0"
  >
    <slide (click)="selectQuiz(quiz)" *ngFor="let quiz of quizList; let index=index"  class="mx-auto" >
      <mat-card style="background-color: white;height: 400px;" >
        <img *ngIf="quiz.image.length>3; " style="height: 80%; width: 100%; " [src]="quiz.image?.length>0? quiz.image:'../../../assets/Default/imageNotFound.png'">
        <p [style]="quiz.image?.length<3? 'height: 100%; padding-top: 40%;':'height: 20%;'">
          {{quiz.label}}<br/>
          {{quiz.questions.length + ' question' + (quiz.questions.length>1? 's':'')}}
          </p>
      </mat-card>
    </slide>
  </carousel>
  </mat-grid-list>

</div>
