.reponse-list{
  justify-content: center;
}

mat-card-title{
  height: 100%;
  text-align: center;
}

.mat-card-header { justify-content: center; height: 35%;
}
.reponse{
  justify-content: center;
  align-content: center;
  height: auto;
}

.mat-card-content{
  height: available;
}
.page{
  position: absolute;
  bottom: 0;
  top:0;
  right: 0;
  left: 0;
}


app-answer-recap{
  width: 100%;
  height: 85%;
  margin: 5%;
}

b{
  font-size: 2vw;
}
