<div style="text-align: center; padding-top: 250px;">
  <mat-grid-list cols="6" rowHeight="25px" style="width: 100%">
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/home-quiz-gestion']" mat-flat-button aria-label="Example icon-button with a heart icon">
      Gestion des quiz
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/home-do-quiz']" mat-flat-button aria-label="Example icon-button with a heart icon">
       Lancer un quiz
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/home-user']" mat-flat-button aria-label="Example icon-button with a heart icon">
        Gestion des profils
      </button>    </mat-grid-tile>
  </mat-grid-list>
</div>
