button{
  width: 95%;
  height: 100%;
}

button:hover{
  background-color: #6c757d;
  cursor: pointer;
}

#page{
  text-align: center;
  padding-top: 15%;
  height: 350px;
  background-image: url('../../assets/Default/quizBackground2.jpg');
  background-size: cover;
}
h2{
  color: #080001;
}
