<button mat-button class="example-header-image" [routerLink]="['/']" >Accueil</button>
<div>
  <button mat-button class="example-header-image"  [matMenuTriggerFor]="menuQuizLauncher">Lancer un quiz</button>
  <mat-menu #menuQuizLauncher xPosition="after">
    <button mat-menu-item [routerLink]="['/quiz-list',{do:true,idPatient:0}]">patient inconnu</button>
    <button mat-menu-item [routerLink]="['/profils-carousel',{do:true}]">patient connu</button>
  </mat-menu>
</div>
<div>
  <button mat-button class="example-header-image" [matMenuTriggerFor]="menuQuiz">
    Gérer les quiz</button>
  <mat-menu #menuQuiz xPosition="after">
    <button mat-menu-item  [routerLink]="['/home-quiz-gestion']">Ajouter un quiz</button>
    <button mat-menu-item  [routerLink]="['/profil-for-EditQuiz']">Modifier un quiz</button>
  </mat-menu>
</div>
<div>
  <button mat-button class="example-header-image"  [matMenuTriggerFor]="menuProfil">
  Gérer les profils</button>
  <mat-menu #menuProfil xPosition="after">
    <button mat-menu-item routerLink="/profil-add">Ajouter un patient</button>
    <button mat-menu-item [routerLink]="['/home-profil-gestion']">Voir un patient</button>
  </mat-menu>
</div>

