<div  *ngIf="profilsList.length == 0; else elseBlock ">
    <span class="h4" style="width: 100%; text-align: center">Votre liste de profil est vide, veuillez  créer un profil</span>
</div>

<ng-template #elseBlock>
<carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [interval]="false"
         >
  <slide (click)="selectProfil(profil)" *ngFor="let profil of profilsList; let index=index"  class="mx-auto" >
    <mat-card style="background-color: white;height: 400px;" >
      <img *ngIf="profil.image.length>3; " style="height: 75%; width: 100%" [src]="profil.image?.length>0? profil.image:'../../../assets/Default/imageNotFound.png'">
      <p [style]="profil.image?.length<3? 'height: 100%; padding-top: 35%;':'height: 25%;'">
        {{profil.prenom}}
        <br>
        {{profil.nom}}
      </p>
    </mat-card>
  </slide>
</carousel>
</ng-template>
