<div  *ngIf="profilsList.length == 0; else elseBlock ">
  <span class="h4" style="width: 100%; text-align: center">Votre liste de profil est vide, veuillez  créer un profil</span>
</div>

<ng-template #elseBlock>
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="false"
            [showIndicators]="false"
  >
    <slide  (click)="selectProfil(profil)" *ngFor="let profil of profilsList| nomprenom:{age: 0,id: 0 ,nom: profilSearched, prenom: profilSearched,recommandations: '',sexe: '',stade:''}; let index=index"  class="mx-auto" >
      <button mat-raised-button class="profil" >
        <img *ngIf="profil.image.length>3; " style="height: auto; max-width: 70%;max-height:80%;" [src]="profil.image?.length>0? profil.image:'../../../assets/Default/imageNotFound.png'">
        <p [style]="profil.image?.length<3? 'height: 100%; padding-top: 25%;':'height: 25%;'">
          {{profil.prenom}}
          <br>
          {{profil.nom}}
        </p>
      </button>
    </slide>
  </carousel>
</ng-template>
