@keyframes mymove {
  from {
    transform: translateX(0px);
  }

  30% {
    transform: translateX(150px);
  }

  60% {
    transform: translateX(150px) rotate(30deg);
  }

  80% {
    transform: translate(100px, 80px) rotate(30deg);
  }

  to {
    transform: translate(100px, 80px) rotate(30deg);
    border-radius: 30px;
    background-color: red;
  }
}



p{
  position: relative;
  bottom: 25%;
  margin: auto;
  color: white;
  font-size: 2.5vw;
  height: fit-content;

}
#text1{
  font-size: 3vw;
  color: white;
  padding: auto;
  text-align: center;
  border-radius: 25px;
  place-content: center;
  margin: 1%;
  width: 70%;
 height: fit-content;
  background-color: #28a745;
  box-shadow: 5px 10px #888888;
}
#btn2{
  margin-left: 80px;

}
#btn1
{

}
div.bouton-aligne{
  display:inline-block;
  width:50%;
  //margin:10px 2.5% 10px 2.5%;
  text-align:center;
}
#b{
  position:absolute;
  left: 45%;
  top: 50%;
  width: 200px;
  height: 200px;
  margin-left: -100px; /* Cette valeur doit être la moitié négative de la valeur du width */
  margin-top: -100px;
}


@-webkit-keyframes clignote {
  0%{box-shadow:0px 0px 25px #4183C4;}
  50%{box-shadow:0px 0px 0px #4183C4;}
  100%{box-shadow:0px 0px 25px #4183C4;}
}
#btn1{
  margin: auto;
  padding: auto;
  font-weight: bold;
  white-space: pre-wrap;
  border-radius: 3px;
  font-size: 2vw;
  text-justify: auto;
  width: 100%;
  height: 80%;
  border: 1px solid #DDD;
  box-shadow:0px 0px 20px #4183C4;
}
#faire{
  height: 100%;
  width: 100%;
  font-size: 3vw;
  color: white;
  text-align: center;
}
.info{
  height: fit-content;
  width: fit-content;
}
