<div style="background-color: white;height: 100%">
    <button class="info" (click)="info()" mat-raised-button> Infos</button>
    <mat-grid-list cols="3" rowHeight="9%" style="width: 100%;height: 100%;" >
      <mat-grid-tile colspan="1" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="4">
        <mat-card id="text1">
         <p> Félicitations! Vous avez fini le quiz.<br>
          <span id="faire"> Appeler un soignant ou recommencer le quiz.</span></p>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="1">
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4">
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4">
         <button class="btn btn-primary" (click)="restart()"  id="btn1"> Recommencer le quiz</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
