<button style="height: 100%;width: 100%;"  mat-raised-button type="button" [class.btn-success]="answer.isCorrect==true"   id = "{{answer.id}}" >
  <mat-grid-list style="height: 100%;width: 100%;" cols="1" rowHeight="9%">
    <mat-grid-tile style="height: 100%;width: 100%;" *ngIf="answer.image!=null" colspan="1" rowspan="{{answer.value == ' ' ? 10 : 8}}">
  <app-image-uploader *ngIf="answer.image!=null" imagePreview="{{answer.image}}"></app-image-uploader>
    </mat-grid-tile>
    <mat-grid-tile style="height: 100%;width: 100%;" *ngIf="answer.value!=' '" colspan="1" rowspan="{{answer.image == null ? 10 : 3}}">
      <div *ngIf="answer.image == null; else elseBlock">
        <p style="height: 100%;width: 100%;position: relative;top: 50%;font-size: 1.5vw;" >{{answer.value}}</p>
      </div>
      <ng-template  #elseBlock>
        <p style="height: 100%;width: 100%;  font-size: 1.5vw;" >{{answer.value}} </p>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</button>

