
<form class="quiz-form" [formGroup]="quizForm">
<mat-card style="width: 100%;">
  <mat-card-header>


  </mat-card-header>
  <mat-card-content style="border-bottom: black solid 1px;">

    <mat-grid-list cols="8" rowHeight="13px" style="width: 100%">
      <mat-grid-tile  colspan="7" rowspan="3">
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="3">
        <button color="primary" (click)="back()" mat-flat-button aria-label="Example icon-button with a heart icon">
          <mat-icon>reply</mat-icon>
          Retour
        </button>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field >
          <mat-label>Libellé*</mat-label>
          <input matInput placeholder="title" [formControlName]="'label'" >
          <mat-error *ngIf="label.invalid">{{getLabelErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="16">
        <mat-card style="border: black solid 3px; height: 90%;width: 90%; padding: 2px;">
          <mat-card-content style="height: 100%;width: 100%;">
            <app-image-uploader editable="true" [label]="label.value" [imagePreview]="imagePreview" [form]="quizForm"></app-image-uploader>
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field>
          <mat-label>Difficulté</mat-label>
          <mat-select >
            <mat-option *ngFor="let difficulty of difficultiesValues" [value]="difficulty">
              {{difficulty}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="4">
        <mat-form-field>
          <mat-label>Thème*</mat-label>
          <mat-select #matSelect (selectionChange)="getSubTheme(matSelect.value)" [formControlName]="'theme'" >
            <mat-option *ngFor="let theme of themesValues" [value]="theme">
              {{theme.label}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="theme.invalid">{{getThemeErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4"><button mat-button (click)="manageTheme()"><mat-icon>add</mat-icon></button></mat-grid-tile>
      <mat-grid-tile colspan="3" rowspan="4">
        <mat-form-field>
          <mat-label>Sous-Thème</mat-label>
          <mat-select [formControlName]="'subTheme'">
            <mat-option *ngFor="let subtheme of subThemesValues" [value]="subtheme">
              {{subtheme.label}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="4"><button mat-button (click)="manageSubTheme()"><mat-icon>add</mat-icon></button></mat-grid-tile>
      <mat-grid-tile colspan="8" rowspan="1">
        <mat-divider></mat-divider>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="3" >
        <span style="text-decoration: underline #555555; text-align: left;">Listes des questions(<span class="badge">{{questions.value?.length}}</span>):</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="3">
        <button style="height: 100%;width: 100%;" mat-button type="button" class="btn btn-primary" (click)="addQuestion()">Créer une question</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="8" rowspan="16">
        <div style="display: flex; border: black solid 3px; height: 100%;width: 100%; overflow-x: scroll">
          <app-question *ngFor="let question of questions.value; let i=index;" (delete)="deletedQuestion($event,i)" (edit)="editQuestion($event,i) " editable="true" deletable="true" [number]="i+1" [question]="question" ></app-question>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>
  <mat-card-footer style="padding-right: 2%;padding-left: 2%">
    <mat-grid-list cols="8" rowHeight="14px" style="width: 100%">
      <mat-grid-tile colspan="8" rowspan="4">
        <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-success" (click)="addQuiz()">Créer le quiz</button>
      </mat-grid-tile>

    </mat-grid-list>
  </mat-card-footer>
</mat-card>
</form>

