@import '../../../styles/card.scss';
.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.Jbtn-edit,.Jbtn-delete {
  height: 33px;
  width: 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0.5;
}
.Jbtn-edit {

  top: 50%;
  left: 50%;
}
.Jbtn-delete {

  top: 90%;
  left: 90%;
}
.Jbtn-edit:hover,.Jbtn-delete:hover{
  opacity: 1;
}
mat-form-field{
  width: 100%;
}
