.jhover{
  background-color: #6c757d;
}
.j:hover{
  background-color: #6c757d;
}
.leftBorder{
  border-right: solid 0.3px black;
}

mat-grid-tile{
  padding: 20px;
}
mat-grid-list{
  margin:10px;
  padding: 20px;
  border: thick double black ;
}
