
<mat-card>
  <mat-card-header>
    <h3 layout-align="center">Creation d'une nouvelle question</h3>
    <button *ngIf="editable" (click)="edit()" mat-flat-button aria-label="Edit" style="position:absolute; right:10px;">
      <mat-icon>done</mat-icon>
    </button>
    <button *ngIf="editable" (click)="cancel()" mat-flat-button aria-label="Cancel" style="position:absolute; right:20px;">
      <mat-icon>cancel</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="questionForm">
      <mat-grid-list cols="4" rowHeight="53px">
        <mat-grid-tile colspan="2" rowspan="1">
          <mat-form-field style="width: 100%">
            <mat-label>Title</mat-label>
            <input matInput placeholder="title" [formControlName]="'label'" >
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="4">
          <mat-card style="border: black solid 3px; height: 90%;width: 90%; padding: 2px;">
            <mat-card-content style=" height: 100%;width: 100%;">
              <app-image-uploader editable="true" [label]="question.label" [imagePreview]="imagePreview"
                                  [form]="questionForm"></app-image-uploader>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="3">
          <div  formArrayName="answers" style="width: 100%; height: 100%">
            <mat-grid-list cols="2" rowHeight="70px">
              <mat-grid-tile
                *ngFor="let answer of answers.controls; let i=index"
                colspan="2"
                rowspan="1">
                <div [formGroupName]="i" style="width: 98%;height: 98%">
                  <mat-form-field style="width: 60%;">
                    <mat-label>Answer</mat-label>
                    <input [formControlName]="'value'" matInput placeholder="answer" >
                  </mat-form-field>
                  <mat-checkbox  [formControlName]="'isCorrect'" style="width: 34%">V</mat-checkbox>
                  <button  (click)="clean(i)" mat-flat-button aria-label="Example icon-button with a heart icon" style="width: 14%">
                    <mat-icon>close</mat-icon>
                  </button>
                </div>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="2" rowHeight="50px">
        <mat-grid-tile colspan="1" rowspan="1" >
          <button class="mt-2 btn btn-sm" mat-button (click)="addAnswer()" style="width: 50%">Add Answer <span class="badge">{{answers.length}}</span></button>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button *ngIf="questionEdition.answers != null" mat-button (click)="edit() " type="submit" class=" btn btn-success btn-block btn-primary" style="width:100% ">Modifier la question</button>
          <button *ngIf="questionEdition.answers == null" mat-button (click)="createQuestion() "  type="submit" class=" btn btn-success btn-block btn-primary" style="width:100% ">Ajouter la question</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card-content>
</mat-card>

