<mat-card style="height:100%;width: 100%;">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content style="border-bottom: black solid 1px;">
      <mat-grid-list cols="3" rowHeight="12px" style="width: 100%">
        <mat-grid-tile colspan="1" rowspan="4">
            <p>Nom: {{this.profil.nom}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="16">
          <mat-card style="border: black solid 3px; height: 90%;width: 90%; padding: 2px;">
            <mat-card-content style=" height: 100%;width: 100%;">
              <app-image-uploader *ngIf="profil.image!=null" imagePreview="{{profil.image}}"></app-image-uploader>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            <p>Prénom: {{this.profil.prenom}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="4">
            <p>Age: {{this.profil.age}}</p>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="4">
            <mat-radio-button checked>{{this.profil.sexe}}</mat-radio-button>
        </mat-grid-tile>


        <mat-grid-tile colspan="1" rowspan="4">
            <p>Stade de la maladie: {{this.profil.stade}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="5">
          <p>Recommandations:</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="10">
            <p>{{this.profil.recommandations}}</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-card-actions style="padding-right: 12px;">
          <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-primary" (click)="editProfile()" >Modifier le profil</button>
    </mat-card-actions>
  </mat-card>

