<button style="height: 100%;width: 100%;"  *ngIf="checked==null||checked!=null&&checked==true ; else elseBlock "  mat-raised-button type="button" [class.btn-success]="checked"   id = "{{answer.id}}" (click)="checkAnswer()">
  <mat-grid-list cols="1" rowHeight="2:0.056">
    <mat-grid-tile *ngIf="answer.image!=null" colspan="1" rowspan="{{answer.value == ' ' ? 10 : 8}}">
      <app-image-uploader  imagePreview="{{answer.image}}">{{answer.value}}</app-image-uploader>
    </mat-grid-tile>
    <mat-grid-tile *ngIf="answer.value!=' '" colspan="1" rowspan="{{answer.image == null ? 10 : 2}}">
      <div *ngIf="answer.image == null; else elseBlock">
        <p style="height: 100%;width: 100%;position: relative;top: 50%" >{{answer.value}}</p>
      </div>
      <ng-template #elseBlock>
        <p style="margin-top: 0.5vw" >{{answer.value}}</p>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</button>
<ng-template #elseBlock>
  <p style="height: 100%;width: 100%;position: relative;top: 50%;font-size: 2vw">Veuillez choisir une autre réponse</p>
</ng-template>

