
button {

  align-content: center;
}
img{
  height: 50%;
  width: 50%;
}
button:hover{
  background-color: #6c757d;
  cursor: pointer;
}
.btn-success:hover{
  background-color: #28a745;
}

app-image-uploader{
  height: 12vw;
  width:16vw;
}

p{
  text-align: center;
  font-size: 1.5vw;
}
