
.Jbtn-edit,.Jbtn-delete,.Jbtn-link,.Jbtn-renew {
  height: 33px;
  width: 60px;
  position: absolute;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  opacity: 0.5;
}
.Jbtn-edit {

  top: 50%;
  left: 50%;
}
.Jbtn-delete {

  top: 90%;
  left: 90%;
}
.Jbtn-link {
  opacity: 0.7;
  top: 12%;
  left: 90%;
}
.Jbtn-renew {
  opacity: 0.7;
  top: 90%;
  left: 12%;
}
.Jbtn-edit:hover,.Jbtn-delete:hover,.Jbtn-renew:hover,.Jbtn-link:hover{
  opacity: 1;
}
.uploadfilecontainer {
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}
