<div style="text-align: center; padding-top: 250px;">
  <mat-grid-list cols="6" rowHeight="25px" style="width: 100%">
    <mat-grid-tile colspan="3" rowspan="6">
      <button (click)="createAQuiz()" mat-flat-button aria-label="Example icon-button with a heart icon">
        Création de quiz
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="3" rowspan="6">
      <button [routerLink]="['/quiz-list',{do:false}]" mat-flat-button aria-label="Example icon-button with a heart icon">
        Modification de quiz
      </button>
    </mat-grid-tile>

  </mat-grid-list>
</div>
