<mat-tab-group [backgroundColor]="bgColor" color="accent" animationDuration="900ms">

  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon>view_list</mat-icon> Afficher les quizzes par liste
    </ng-template>
    <app-quiz-search-bar [searchedQuiz]="searchedQuiz" [idPatient]="idPatient" [doQuiz]="doQuiz"></app-quiz-search-bar>
    <p *ngIf="doQuiz">{{motQuitter()}}</p>
    <app-quiz-list [doQuiz]="doQuiz" (selectEmitter)="selectQuiz($event)" (deleteEmitter)="deleteQuiz($event)" [quizList]="quizList| quizSearch: {questionsEqualsTo:null,id: 0,questions: [],label: searchedQuiz.label,theme: searchedQuiz.theme, subTheme:searchedQuiz.subTheme, difficulty: searchedQuiz.difficulty}"></app-quiz-list>
  </mat-tab>

  <mat-tab >
    <ng-template mat-tab-label>
      <mat-icon>perm_media</mat-icon> Afficher les quizzes par photo
    </ng-template>
    <app-quiz-search-bar [searchedQuiz]="searchedQuiz" [idPatient]="idPatient" [doQuiz]="doQuiz"></app-quiz-search-bar>
    <app-quiz-list2 (selectEmitter)="selectQuiz($event)" [quizList]="quizList| quizSearch: {questionsEqualsTo:null,id: 0,questions: [],label: searchedQuiz.label,theme: searchedQuiz.theme, subTheme:searchedQuiz.subTheme, difficulty: searchedQuiz.difficulty}"></app-quiz-list2>
  </mat-tab>
</mat-tab-group>
