<mat-grid-list cols="5" rowHeight="80px" style="background-color: white; width: 100%; margin-top: 10px; margin-bottom: 10px; padding-top: 50px; border-radius: 1%;" >
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="legacy">
      <mat-label>Libéllé du quiz</mat-label>
      <input [(ngModel)]="searchedQuiz.label" matInput placeholder="libéllé du quiz">
      <mat-icon style="size: auto" matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Thème</mat-label>
      <mat-select #mat [(value)]="searchedQuiz.theme" (selectionChange)="getSubTheme(mat)">
        <mat-option *ngFor="let theme of themesValues" [value]="theme.label" >
          {{theme.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Sous Thème</mat-label>
      <mat-select [(value)]="searchedQuiz.subTheme" >
        <mat-option *ngIf="subThemesValues.length ==0" value="">
        </mat-option>
        <mat-option *ngFor="let subtheme of subThemesValues" [value]="subtheme.label">
          {{subtheme.label}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Difficulté</mat-label>
      <mat-select [(value)]="searchedQuiz.difficulty">
        <mat-option *ngFor="let difficulty of difficultiesValues" [value]="difficulty">
          {{difficulty}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <button color="primary" (click)="back()" mat-flat-button aria-label="Example icon-button with a heart icon">
      <mat-icon>reply</mat-icon>
      Retour
    </button>
  </mat-grid-tile>
  <mat-grid-tile *ngIf="doQuiz!=null" colspan="5" rowspan="1">
    <p style="text-align: center;">Cliquez sur l'un des quiz ci-dessous pour le <b>
      {{(doQuiz?'lancer':'modifier')}}!</b> <br/>
  </mat-grid-tile>
</mat-grid-list>
