
<html>
<body>
<form class="signup-form" [formGroup]="profilForm">

  <div class="form-header">
    <h1>Ajouter un nouveau profil patient</h1>
  </div>


  <div class="form-body">

    <div class="horizontal-group">
      <div class="form-group left">
        <label for="firstname" class="label-title">Nom *</label>
        <input type="text" id="firstname" class="form-input" placeholder="entrez le nom" formControlName="nom"  />
      </div>
      <div class="form-group right">
        <label for="lastname" class="label-title">Prénom</label>
        <input type="text" id="lastname" class="form-input" placeholder="entrez le prénom"  formControlName="prenom"/>
      </div>
    </div>

    <div>
      <label class="label-title">Age</label>
      <input type="number"  class="form-input" width="10"  formControlName="age">
    </div>

    <div class="horizontal-group">
      <div class="form-group left">
        <label class="label-title">Gender:</label>
        <div class="input-group" formControlName="sexe">
          <label for="male"><input type="radio" name="gender" value="homme" id="male"> M</label>
          <label for="female"><input type="radio" name="gender" value="femme" id="female"> F</label>
        </div>
      </div>
      <div class="form-group right">
        <label class="label-title">Stade de la maladie</label>
        <div >
          <select class="form-input" id="level"formControlName="stade" >
            <option value="B">I</option>
            <option value="I">II</option>
            <option value="A">III</option>
          </select>
        </div>
      </div>
    </div>

    <div >
        <input type="file"  size="80">
    </div>
      <div >
        <label class="label-title">Recommandations</label>
        <textarea class="form-input" rows="4" cols="50" style="height:auto" formControlName="recommandations"></textarea>
      </div>


  </div>

  <div class="form-footer">
    <button type="submit" class="btn">Ajouter</button>
  </div>

</form>


</body>
</html>
