
mat-card{
  align-content: center;
  text-align: center;
  background-color: #05cd39;
  font-size: 2vw;
  color: white;
}

app-image-uploader{
  height: 12vw;
  width:16vw;
}

p{
  padding-top: 1%;
  margin-top: 1%;
  white-space: pre-line;
  line-height: 100%;
}
