
<div style="background-color: white;margin-right: 1%;margin-left: 1%">
  <mat-grid-list cols="{{col()}}" rowHeight="2:1" style="width: 100%; border-bottom: #1b1e21 1px solid;">

    <mat-grid-tile colspan="3" rowspan="1" >
      <h3>Nom</h3>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1" >
      <h3>Prénom</h3>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <h3>Age</h3>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <h3>Sexe</h3>
    </mat-grid-tile>

    <mat-grid-tile *ngIf="!doQuiz" colspan="1" rowspan="1">
      <h3>Actions</h3>
    </mat-grid-tile>

  </mat-grid-list>
  <div style="max-height: 430px;margin-right: 1%;margin-left: 1%">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <app-profil-less-info class="quiz" (selectEmitter) ="profilSelected($event)" (deleteEmitter)="deleteProfil($event,profil)"
                          (selectEmitter)="SelectProfil(profil)" [do]="this.doQuiz" *ngFor="let profil of profilList " [profil]="profil"></app-profil-less-info>
    <div style="display: flex" *ngIf="inviteToCreateProfil">
      <span class="h4" style="width: 40%; text-align: center">Votre liste est vide veuillez ajouter un profil patient</span>
      <button id="btnCreateQuiz" routerLink="/profil-add" style="width: 60%" mat-flat-button aria-label="Example icon-button with a heart icon">
        <mat-icon>add</mat-icon>
        Créer un nouveau profil
      </button></div>
  </div>

</div>
