#btnCreateProfil{
  text-shadow: 0 1px 0 white;
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid #DDD;
  box-shadow:0px 0px 20px #4183C4;


}
app-profil-list{
  width: 100%;
}



.backButton:hover{
  background-color: #6c757d;
  cursor: pointer;
}

button,mat-form-field{
  width: 95%;
  height: 75%;
}
button{
  font-size: 1.5vw;

}
