 <!--
<div class="card" style="background-color: deepskyblue">
  <span>{{quiz.theme}} </span>
    <h2>
      <i *ngIf="quiz.theme==='Actor'" class="fab fa-leanpub"></i>
      <i *ngIf="quiz.theme==='Basket-Ball'" class="fas fa-basketball-ball"></i>
      {{quiz.name}}
    </h2>
  <h4>{{quiz.questions?.length}} <span *ngIf="quiz.questions?.length>1">  questions</span>
    <span *ngIf="quiz.questions?.length===1 || quiz.questions?.length===0 ">  questions</span> </h4>
    <button class="btn button-card" routerLink="/quizz-edit/{{quiz.id}}" (click)="selectQuiz()">Select</button>
  <button class="btn button-card" (click)="deleteQuiz()">Delete</button>
  <h6 *ngIf="quiz.dateModification!=null;"> Modified at: {{quiz.dateModification | date}}</h6>
  <h6 *ngIf="quiz.dateModification==null && quiz.dateCreation!=null"> Créated at: {{quiz.dateModification | date}}</h6>
</div>
-->
<form class="quiz-form" [formGroup]="quizForm">
<mat-card style="width: 100%;">
  <mat-card-header>


  </mat-card-header>
  <mat-card-content style="border-bottom: black solid 1px;">
    <!--<mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>Drawer content</mat-drawer>
      <mat-drawer-content>
        <mat-form-field style="width: 100%">
          <mat-label>Title</mat-label>
          <input matInput placeholder="title" [formControlName]="'label'" >
        </mat-form-field>
      </mat-drawer-content>
    </mat-drawer-container>-->
    <mat-grid-list cols="8" rowHeight="14px" style="width: 100%">

      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field >
          <mat-label>Libellé*</mat-label>
          <input matInput placeholder="title" [formControlName]="'label'" >
          <mat-error *ngIf="label.invalid">{{getLabelErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="16">
        <mat-card style="border: black solid 3px; height: 90%;width: 90%; padding: 2px;">
          <mat-card-content style=" height: 100%;width: 100%;">
            <img [src]="imagePreview?imagePreview:'../../../assets/Default/imageNotFound.png'" style=" height: 100%;width: 100%;" [alt]="imagePreview?label.value:'NotFound Image'"/>
            <input style="display: none" type="file" #imagePost id="imageUrl" (change)="onImagePick($event)">
            <span class="Jbtn-edit" (click)="imagePost.click()" mat-flat-button aria-label="Example icon-button with a heart icon">
              <mat-icon>add_a_photo</mat-icon>
            </span>
            <span class="Jbtn-delete" *ngIf="imagePreview" (click)="deleteImage();" mat-flat-button aria-label="Example icon-button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </span>
            </mat-card-content>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field>
          <mat-label>Difficulté</mat-label>
          <mat-select>
            <mat-option *ngFor="let difficulty of difficultiesValues" [value]="difficulty">
              {{difficulty}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field>
          <mat-label>Thème*</mat-label>
          <mat-select [formControlName]="'theme'" >
            <mat-option *ngFor="let theme of themesValues" [value]="theme">
              {{theme}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="theme.invalid">{{getThemeErrorMessage()}}</mat-error>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile colspan="4" rowspan="4">
        <mat-form-field>
          <mat-label>Sous-Thème</mat-label>
          <mat-select>
            <mat-option *ngFor="let theme of themesValues" [value]="theme">
              {{theme}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile colspan="8" rowspan="1">
        <mat-divider></mat-divider>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="3" >
        <span style="text-decoration: underline #555555; text-align: left;">Listes des questions(<span class="badge">{{quiz.questions?.length}}</span>):</span>
      </mat-grid-tile>
      <mat-grid-tile colspan="4" rowspan="3">
        <button style="height: 100%;width: 100%;" mat-button type="button" class="btn btn-primary" (click)="addQuestion()">Créer une question</button>
      </mat-grid-tile>
      <mat-grid-tile colspan="8" rowspan="16">
        <div style="display: flex; border: black solid 3px; height: 100%;width: 100%; overflow-x: scroll">
          <app-question *ngFor="let question of quiz.questions; let i=index;" (delete)="deletedQuestion($event,i)" (edit)="editQuestion($event,i) " editable="true" deletable="true" [number]="i+1" [question]="question" ></app-question>
        </div>
      </mat-grid-tile>

    </mat-grid-list>

  </mat-card-content>
  <mat-card-footer style="padding-right: 12px;">
    <mat-grid-list cols="8" rowHeight="14px" style="width: 100%">
      <mat-grid-tile colspan="8" rowspan="4">
        <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-success" (click)="addQuiz()">Créer le quiz</button>
      </mat-grid-tile>
      <!--<mat-grid-tile colspan="3" rowspan="4">
        <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-danger" (click)="openDialog()">Annuler</button>
      </mat-grid-tile>-->
    </mat-grid-list>
  </mat-card-footer>
</mat-card>
</form>
<!--<div class="card">
  <h2>{{quiz!=null?'Create a new':'modify the'}} Quiz</h2>
  <form class="quiz-add" [formGroup]="quizForm">
    <label for="title">
      Title <br>
      <input class="input-custom" type="text" id="name" [formControlName]="'name'">
    </label>
    <br>
    <label for="theme">
      Thème <br>
      <select name="theme-field" id="theme" [formControlName]="'theme'">
        <option *ngFor="let val of themvalues" [value]="val">
{{val}}
        </option>
      </select>
    </label>
    <br>
    <label>
      <button [disabled]="this.questionDialogOpened" type="button" class="btn btn-sm btn-primary" (click)="addQuestion()">Manage question <span class="badge">{{quizFormValue().questions.length}}</span></button>
    </label>
    <br/>
    <button *ngIf="quiz==null; else modifySection" mat-button type="submit" class=" btn btn-lg btn-block m-1 btn-success" (click)="addQuiz()">Create the quiz</button>
    <ng-template #modifySection><button mat-button type="submit" class=" btn btn-lg btn-block m-1 btn-warning" (click)="modifyQuiz()">Modify the quiz</button></ng-template>
  </form>
</div>-->
<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
