<div  *ngIf="profilsList.length == 0; else elseBlock ">
    <span class="h4" style="width: 100%; text-align: center">Votre liste de profil est vide, veuillez  créer un profil</span>
</div>
<ng-template #elseBlock>
<carousel [itemsPerSlide]="itemsPerSlide"
          [singleSlideOffset]="singleSlideOffset"
          [interval]="false"
         >
  <slide *ngFor="let slide of slides; let index=index"  class="mx-auto">
   <mat-card style="background-color: lightgray">
    <img  mat-card-image [src]="slide.image"  alt="image non trouvé" style="display: inline;width:100%;margin: 0; ">
   </mat-card>
  </slide>
</carousel>
</ng-template>
