<mat-grid-list cols="5" rowHeight="80px" style="width: 100%; margin-top: 10px; padding-top: 50px;" >
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field appearance="legacy">
      <mat-label>Rechercher par nom du profil</mat-label>
      <input matInput placeholder="Nom du patient" [(ngModel)]="profilSearched.nom">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </mat-grid-tile>
  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Prénom</mat-label>
      <input matInput placeholder="Prénom du patient" [(ngModel)]="profilSearched.prenom">
    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Sexe</mat-label>
      <mat-select  [(value)]="profilSearched.sexe" >
        <mat-option value="Homme">
          Homme
        </mat-option>
        <mat-option value="Femme">
          Femme
        </mat-option>
        <mat-option value="">

        </mat-option>

      </mat-select>

    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <mat-form-field>
      <mat-label>Stade</mat-label>
      <mat-select  [(value)]="profilSearched.stade" >
        <mat-option value="Stade 1">
          Stade 1
        </mat-option>
        <mat-option value="Stade 2">
          Stade 2
        </mat-option>
        <mat-option value="Stade 3">
          Stade 3
        </mat-option>
        <mat-option value="">

        </mat-option>
      </mat-select>

    </mat-form-field>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" rowspan="1">
    <button (click)="back()" mat-flat-button aria-label="Example icon-button with a heart icon">
      <mat-icon>reply</mat-icon>
      Retour
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="5" rowspan="1">
    <p style="text-align: center;">Veuillez sélectionner le profil de votre choix
      <br/>
      NB: La liste peut être vide si aucun profil  ne suit les critères entrés!</p>
  </mat-grid-tile>
</mat-grid-list>
