.jhover{
  background-color: #6c757d;
}
.j:hover{
  background-color: #6c757d;
}
.leftBorder{
  border-right: solid 0.1px black;
}

mat-grid-tile{
  padding: 20px;
}
mat-grid-list{
  margin-top:1%;
  padding: 20px;
  border: thick double black ;
}
h5{ font-size: 2vw}
