<mat-card>
  <mat-spinner *ngIf="loading"> </mat-spinner>
  <mat-grid-list *ngIf="!loading" cols="8" rowHeight="9%">
    <mat-grid-tile colspan="7" rowspan="2">
      <h4>🙃Récapitulation des bonnes réponses du quiz <b>{{quiz.label}}</b></h4>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <button mat-button (click)="goToEnd()">Fin</button>
    </mat-grid-tile>
    <mat-grid-tile  colspan="8" rowspan="8" style="overflow-y:scroll;">
      <div style="max-height: 50%;overflow-y:scroll; background-color: red">
        <app-question-recap [question]="this.quiz.questions[this.index]"></app-question-recap>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <button *ngIf="(index != 0)" color="primary" style="width: 100%;height: 100%;" (click)="precedent()" mat-flat-button aria-label="Example icon-button with a heart icon">
        <mat-icon>keyboard_arrow_left</mat-icon>
        Précédent
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="1">
      <button *ngIf="(index < quiz.questions.length - 1); else elseBlock" color="primary" style="width: 100%;height: 100%;" (click)="suivant()" mat-flat-button aria-label="Example icon-button with a heart icon">
        Suivant
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <ng-template #elseBlock>
        <button class="suivant" color="primary" style="width: 100%;height: 100%;" (click)="suivant()" mat-flat-button aria-label="Example icon-button with a heart icon">
        Fin
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
