<div style="background-color: white">
<div  *ngIf="quizList.length == 0;">
  <span class="h4" style="width: 100%; text-align: center">Votre liste de quiz est vide, veuillez  créer un quiz</span>
</div>
  <mat-grid-list cols="1" *ngIf="quizList.length >0;">
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="false"
  >
    <slide (click)="selectQuiz(quiz)" *ngFor="let quiz of quizList | quizSearch: {questionsEqualsTo:null,id: 0,questions: [],label: searchedQuiz.label,theme: searchedQuiz.theme, subTheme:searchedQuiz.subTheme, difficulty: searchedQuiz.difficulty}; let index=index"  class="mx-auto" >
      <mat-card style="background-color: white;" >
        <img *ngIf="quiz.image!=''; "  mat-card-image [src]="quiz.image"  alt="image non trouvé" style="display: inline;width:100%;margin: 0; ">
        <p>
          {{quiz.label}}
          </p>
      </mat-card>
    </slide>
  </carousel>
  </mat-grid-list>

</div>
