.quiz-list {
  // display: flex;
  background-color: #86cfda;
}
button,mat-form-field{
  width: 95%;
  height: 75%;
}
button{
  border: 1px solid black;
}
.quiz:hover{
  background-color: #6c757d;
  cursor: pointer;
}
