<div style="background-color: white">
<div  *ngIf="quizList.length == 0;">
  <span class="h4" style="width: 100%; text-align: center">Votre liste de quiz est vide, veuillez en créer</span>
</div>
  <mat-grid-list cols="1" *ngIf="quizList.length >0;">
  <carousel [itemsPerSlide]="itemsPerSlide"
            [singleSlideOffset]="singleSlideOffset"
            [interval]="0"
            [showIndicators]="false"
  >
    <slide (click)="selectQuiz(quiz)" *ngFor="let quiz of quizList; let index=index"  class="mx-auto"  >
      <button mat-raised-button style="background-color: white;height: 25vw;margin: 1%;width: 100%" >
        <img *ngIf="quiz.image.length>3; " style="max-width: 70%;height:auto;max-height:80%;margin: auto;display: block;" [src]="quiz.image?.length>0? quiz.image:'../../../assets/Default/imageNotFound.png'">
        <p [style]="quiz.image?.length<3? 'height: 100%; padding-top: 35%;':'height: 20%;'">
          {{quiz.label}}<br>
          {{(quiz.questions.length>0?(quiz.questions.length + ' question' + (quiz.questions.length>1? 's':'')):'aucune question')}}
          </p>
      </button>
    </slide>
  </carousel>
  </mat-grid-list>

</div>
