<!--
<div class="card" style="background-color: deepskyblue">
  <span>{{quiz.theme}} </span>
    <h2>
      <i *ngIf="quiz.theme==='Actor'" class="fab fa-leanpub"></i>
      <i *ngIf="quiz.theme==='Basket-Ball'" class="fas fa-basketball-ball"></i>
      {{quiz.name}}
    </h2>
  <h4>{{quiz.questions?.length}} <span *ngIf="quiz.questions?.length>1">  questions</span>
    <span *ngIf="quiz.questions?.length===1 || quiz.questions?.length===0 ">  questions</span> </h4>
    <button class="btn button-card" routerLink="/quizz-edit/{{quiz.id}}" (click)="selectQuiz()">Select</button>
  <button class="btn button-card" (click)="deleteQuiz()">Delete</button>
  <h6 *ngIf="quiz.dateModification!=null;"> Modified at: {{quiz.dateModification | date}}</h6>
  <h6 *ngIf="quiz.dateModification==null && quiz.dateCreation!=null"> Créated at: {{quiz.dateModification | date}}</h6>
</div>
-->
<mat-card>
<mat-card-header>

</mat-card-header>
  <mat-card-content>
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>Drawer content</mat-drawer>
      <mat-drawer-content>
        <mat-form-field style="width: 100%">
          <mat-label>Title</mat-label>
          <input matInput placeholder="title" [formControlName]="'label'" >
        </mat-form-field>
      </mat-drawer-content>
    </mat-drawer-container>


  </mat-card-content>
  <mat-card-footer>

  </mat-card-footer>
</mat-card>
