@import '../../../styles/card.scss';

h2 {
  //background: red;
    // Add some CSS here! What if you try to change the background?
}

.cdk-virtual-scroll-data-source-example .example-viewport {
  height: 134px;
  width: 100%;
  border: 1px solid black;
}

.cdk-virtual-scroll-data-source-example .example-viewport .cdk-virtual-scroll-content-wrapper {
  display: flex;
  flex-direction: row;
}

.cdk-virtual-scroll-data-source-example .example-item {
  width: 50px;
  height: 100%;
  writing-mode: vertical-lr;
}
