<div class="card" style="background-color: deepskyblue">
  <span>{{quiz.theme}} </span>
    <h2>
      <i *ngIf="quiz.theme==='Actor'" class="fab fa-leanpub"></i>
      <i *ngIf="quiz.theme==='Basket-Ball'" class="fas fa-basketball-ball"></i>
      {{quiz.name}}
    </h2>
  <h4>{{quiz.questions?.length}} <span *ngIf="quiz.questions?.length>1">  questions</span>
    <span *ngIf="quiz.questions?.length===1 || quiz.questions?.length===0 ">  questions</span> </h4>
    <button class="btn button-card" routerLink="/quizz-edit/{{quiz.id}}" (click)="selectQuiz()">Select</button>
  <button class="btn button-card" (click)="deleteQuiz()">Delete</button>
  <h6 *ngIf="quiz.dateModification!=null;"> Modified at: {{quiz.dateModification | date}}</h6>
  <h6 *ngIf="quiz.dateModification==null && quiz.dateCreation!=null"> Créated at: {{quiz.dateModification | date}}</h6>
</div>
