<mat-card style="height:100%;width: 100%;">
    <mat-card-header>
    </mat-card-header>
    <mat-card-content style="border-bottom: black solid 1px;">
      <mat-grid-list cols="3" rowHeight="12px" style="width: 100%">
        <mat-grid-tile colspan="1" rowspan="5">
            <p>Nom: {{this.profil.nom}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="16">
          <mat-card style="border: black solid 3px; height: 100%;width: 80%; padding: 1px;">
            <mat-card-content style=" height: 100%;width: 111%;">
              <app-image-uploader *ngIf="profil.image!=null" [imagePreview]="profilImage()"></app-image-uploader>
            </mat-card-content>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3">
            <p>Prénom: {{this.profil.prenom}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="3"  >
            <p>Age: {{this.profil.age}}</p>
        </mat-grid-tile>

        <mat-grid-tile colspan="1" rowspan="3">
            <p>{{this.profil.sexe}}</p>
        </mat-grid-tile>


        <mat-grid-tile colspan="1" rowspan="3">
            <p>Stade de la maladie: {{this.profil.stade}}</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="3">
          <p>Recommandations:</p>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="10">
            <p>{{this.profil.recommandations}}</p>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card-content>
    <mat-grid-list cols="3" rowHeight="50px">
      <mat-grid-tile colspan="1" rowspan="1" style="padding-right: 12px;">
            <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-primary" (click)="editProfile()" >Modifier le profil</button>
      </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <button style="height: 70%;width: 100%;" mat-flat-button type="button" class="btn btn-warning" color="accent" (click)="results()" >Consulter les résultats</button>
    </mat-grid-tile>
      <mat-grid-tile colspan="1" rowspan="1" >
            <button style="height: 70%;width: 100%;" mat-button type="button" class="btn btn-secondary" (click)="deleteProfile()" >Supprimer le profil</button>
      </mat-grid-tile>
    </mat-grid-list>
  <mat-grid-list cols="3" rowHeight="50px">
    <mat-grid-tile colspan="1" rowspan="1" style="padding-right: 12px;">
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
      <button style="height: 70%;width: 100%;" mat-flat-button type="button" class="btn btn-success"  (click)="addQuiz()" >Lui créer un nouveau quiz</button>

    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1" >
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>

