.titre{
  text-align: center;
  font-size: 5vw;
  font-family: -apple-system;
  margin-top: 5%;
}
button{

  font-size: 4vw;
  padding: auto;
  font-family: -apple-system;
  border-style: solid solid double solid;
  border-bottom-width: 0.7vw;
  border-right-width: 0.9vw;
  border-color: #555555;
}

.commencer{
  display: flex;
  margin: auto;
  padding: 10%;
}
h6{
  font-size: 2.5vw;
}
