<div id="page" style="">
  <mat-grid-list cols="6" rowHeight="25px" style="width: 100%">
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/home-quiz-gestion']" mat-flat-button aria-label="Example icon-button with a heart icon">
        <mat-icon style="font-size: 130px; width: 90%;height: 75%;">category</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/home-do-quiz']" mat-flat-button aria-label="Example icon-button with a heart icon">
       <mat-icon style="font-size: 130px; width: 90%;height: 75%;">slideshow</mat-icon>
      </button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="6">
      <button [routerLink]="['/profil-add']" mat-flat-button aria-label="Example icon-button with a heart icon">
        <mat-icon style="font-size: 130px; width: 90%;height: 75%;">people</mat-icon>
      </button>    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <h2>Gestion des quiz</h2>    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <h2>Lancer un quiz</h2>   </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="2">
      <h2>Gestion des profils</h2>   </mat-grid-tile>

  </mat-grid-list>
</div>
