app-question-recap{
  max-height: 50%;
  overflow-y:scroll;
}

.suivant{
  background-color: #45c15c;
}
mat-card{
  height: 100%;
}
h4{
  font-size: 2vw;
}
b{
  color: orangered;
  font-size: 3vw;
}
.animate{
  animation: zoom 1.7s infinite;
  animation-delay: 7s;
}
@keyframes zoom {
  0%{box-shadow:0 0 5vw blue;}
  50%{box-shadow:0 0 0 blue;}
  100%{box-shadow:0 0 5vw blue;}
}
