@import '../../../styles/card.scss';

h2 {
  //background: red;
    // Add some CSS here! What if you try to change the background?
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 10px;
  border: 1px solid #555;
}
